*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
body {
  font-size: 13px;
}

a, table span.fa{
  cursor: pointer;
}

#Akashic .show-grid {
	padding: 10px;
}

akashic-records nav ul {
  display: flex;
}
akashic-records nav ul li {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
akashic-records nav ul li a {
  text-align: center;
}

akashic-records .container {
	width: 100%; !important
}

.akashic-records-settings {
  margin-top: 10px;
  margin-bottom: 15px;
}

.akashic-records-settings.tab-pane-hidden {
  margin-bottom: 0px;
}


#myChart {
  min-height: 350px !important;
  height: 100% !important;
  padding-left: 7x;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.col-xs-2 .form-group, .col-xs-3 .form-group, .col-xs-4 .form-group{
  margin-bottom: 0px;
}
.col-xs-2 .form-group .checkbox, .col-xs-3 .form-group .checkbox, .col-xs-4 .form-group .checkbox{
  margin-top: 0px;
  margin-bottom: 0px;
}

.akashic-table-pagination {
  width: -webkit-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#question-btn {
  padding: 0 5px;
  background-color: transparent;
}

.advancedmodule .title {
  margin-bottom: 4px
}

#ECharts {
  margin-top: 15px;
}

akashic-records .advancedmodule {
  padding-top: 5px;
}

td.table-search{
  padding-left: 0px !important;
  padding-right: 1px !important;
}

.form-group.search-area, .form-group.filter-area{
  margin: 0px;
  max-width: 150px;
}

.form-group.filter-area input.form-control{
  height: 24px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 3px;
  font-size: 13px;
}

.form-group.search-area input.form-control, .form-group.search-area select.form-control{
  height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 3px;
  font-size: 12px;
}


akashic-records table td {
  white-space: nowrap !important;
}

akashic-records table td.enable-auto-newline {
  white-space: normal !important;
}

akashic-records .divider hr{
  margin-top: 0px;
}

akashic-records .divider h5{
  margin-top: 12px;
  -webkit-user-select: none;
  margin-bottom: 10px;
}

akashic-records hr{
  margin-top: 10px;
  margin-bottom: 8px;
}

akashic-records .divider hr{
  margin-top: 10px;
  margin-bottom: 8px;
}

/*akashic-records .tab-pane-hidden .divider hr{
  margin-bottom: 3px;
}*/

akashic-records .akashic-records-filter .checkbox,
akashic-records .akashic-records-statistics .checkbox{
  margin-top: 0px;
}


akashic-records .akashic-records-filter .btn,
akashic-records .akashic-records-statistics .btn {
    padding-top: 3px;
    padding-bottom: 3px;
}

@media (max-width: 720px) {
  akashic-records table td {
    white-space: normal !important;
  }
}