#akashic-records-main-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}
#akashic-records-main-wrapper a,
#akashic-records-main-wrapper table span.fa,
#akashic-records-main-wrapper table span.fa::before{
  cursor: pointer;
}

#akashic-records-main-wrapper hr {
  display: block;
}

#akashic-records-main-wrapper table {
  table-layout: auto;
}

#akashic-records-main-wrapper .show-grid {
  padding: 10px;
}

#akashic-records-main-wrapper .nav {
  display: flex;
}
#akashic-records-main-wrapper .nav li {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#akashic-records-main-wrapper .nav li a {
  text-align: center;
}

#akashic-records-main-wrapper .container {
  width: 100% !important;
  overflow: auto;
}

#akashic-records-main-wrapper .akashic-records-settings {
  margin-top: 10px;
  margin-bottom: 15px;
}

#akashic-records-main-wrapper #myChart {
  min-height: 350px !important;
  height: 100% !important;
  padding-left: 7x;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 12px;
}

#akashic-records-main-wrapper .col-xs-2 .form-group,
#akashic-records-main-wrapper .col-xs-3 .form-group,
#akashic-records-main-wrapper .col-xs-4 .form-group {
  margin-bottom: 0px;
}
#akashic-records-main-wrapper .col-xs-2 .checkbox,
#akashic-records-main-wrapper .col-xs-3 .checkbox,
#akashic-records-main-wrapper .col-xs-4 .checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

#akashic-records-main-wrapper .akashic-table-pagination {
  width: -webkit-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#akashic-records-main-wrapper #question-btn {
  padding: 0 5px;
  background-color: transparent;
  vertical-align: text-bottom;
}

#akashic-records-main-wrapper .advancedmodule .title {
  margin-bottom: 4px
}

#akashic-records-main-wrapper #ECharts {
  margin-top: 15px;
}

#akashic-records-main-wrapper .advancedmodule {
  padding-top: 5px;
}

#akashic-records-main-wrapper td.table-search{
  padding-left: 0px !important;
  padding-right: 1px !important;
}

#akashic-records-main-wrapper .select-area,
#akashic-records-main-wrapper .search-area,
#akashic-records-main-wrapper .filter-area{
  margin: 0px;
  max-width: 150px;
}

#akashic-records-main-wrapper .filter-area input.form-control{
  height: 24px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 3px;
  font-size: 14px;
}

#akashic-records-main-wrapper table select.form-control,
#akashic-records-main-wrapper input.form-control,
#akashic-records-main-wrapper .select-area input.form-control,
#akashic-records-main-wrapper .search-area input.form-control,
#akashic-records-main-wrapper .search-area select.form-control {
  height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 3px;
  font-size: 14px;
}

#akashic-records-main-wrapper table input[type=text].form-control {
  font-size: 14px;
}

#akashic-records-main-wrapper table td {
  white-space: nowrap !important;
}

#akashic-records-main-wrapper table td.enable-auto-newline {
  white-space: normal !important;
}

#akashic-records-main-wrapper .divider hr{
  margin-top: 0px;
}

#akashic-records-main-wrapper .divider h5{
  margin-top: 12px;
  user-select: none;
  margin-bottom: 10px;
}

#akashic-records-main-wrapper hr{
  margin-top: 10px;
  margin-bottom: 8px;
}

#akashic-records-main-wrapper .divider hr{
  margin-top: 10px;
  margin-bottom: 8px;
}

#akashic-records-main-wrapper .akashic-records-filter .checkbox,
#akashic-records-main-wrapper .akashic-records-statistics .checkbox{
  margin-top: 0px;
}


#akashic-records-main-wrapper .akashic-records-filter .btn,
#akashic-records-main-wrapper .akashic-records-statistics .btn {
    padding-top: 3px;
    padding-bottom: 3px;
}

@media (max-width: 720px) {
  #akashic-records-main-wrapper table td {
    white-space: normal !important;
  }
}

#akashic-records-main-wrapper .akashic-senka-title{
  width: 50px;
  font-size: 50px;
  word-wrap: break-word;
  letter-spacing: 20px;
}
#akashic-records-main-wrapper .akashic-senka-time{
  width: 30px;
  font-size: 30px;
  word-wrap: break-word;
  letter-spacing: 10px;
}
#akashic-records-main-wrapper .akashic-senka-alert{
  color: black;
  background-color: rgba(230, 230, 230, 0.91);
  border-radius: 3px;
  text-align: center;
}

#akashic-records-main-wrapper .error-message {
  padding: 1em;
}

#akashic-records-main-wrapper .error-message textarea {
  height: 20em;
}
